
#maincard{
    align-items: center;
    padding: 15px;
    position: absolute;
    margin-top: 10px;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
}

#ProfilePic{
    height:210px;
    width:160px;
    border-radius: 10px;
}

#message{
    text-align: center;
    font-family: Monaco, Helvetica, sans-serif;
}




#socials{
    margin-top: 15px;
}


  
  #floating-button {

    width: 40px;
    height: 40px;
    border-radius: 10%;
    cursor: pointer;
    z-index: 1;
    padding-left: 10px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  
  }

  #floating-button:hover{
    transform: scale(1.5);
}

.floating-button:active{
    -webkit-transform:scale(0.9); 
    -moz-transform:scale(0.9); 
    -ms-transform:scale(0.9); 
    -o-transform:scale(0.9); 
    transform:scale(0.9); 
    -webkit-box-shadow:0px 0px 20px #FFF; 
    -moz-box-shadow:0px 0px 20px #FFF; 
    -o-box-shadow:0px 0px 20px #FFF; 
    box-shadow:0px 0px 20px #FFF; 
}

#resumeButton, #websiteButton{
    width: 100px!important;
    height: 25px!important;
    margin: 5px!important;
    color: black!important;
    background-color: #ffffff!important;
    border-radius: 5px!important;
    border-radius: 5px!important;
}

#resumeButton:hover, #websiteButton:hover{
    margin: 5px!important;
    color: white!important;
    background-color: black!important;
    border-radius: 5px!important;
    transform: scale(1)!important;
}